<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <title>Login Form</title>
</head>
<div align="center">
  <h3 style="border: 1px solid lightblue;padding: 5px;
  width: 50%;">Egerton University Student Portal</h3>
</div>
<br><br><br>
<body>
  <div align="center">
        <form action="login.java">
          <h2 style="color: floral white;background-color:DodgerBlue">EGERTON UNIVERSITY</h2>
            <h4>Intergrated University Information Management System</h4>
            <div style="margin: 20px; position: relative; padding-left: 2cm;margin-top: 1%;">
              <img src="\assets\egertonuniversity-logo.png" alt="Egerton logo" style="position: absolute; top: 0; left: 0;  border : 1px solid black;border-radius: 6px;width: 100px; height: 100px;">
          </div>
            <label for="studentNo">Student Number</label><br>
            <input type="text" name="studentNo"><br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password"><br><br>
            <input type="submit" value="Log in"><br><br>
            <a href="#">forgot password?</a>
        </form>
        <p>other links<a href="https://studentportal.egerton.ac.ke/portal/applications/sss/?f=s">New Students Self-Service</a></p>
    </div>
</body>
</html>